* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

#navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    background-image: url(Amazon-Logo.png);
    background-size: cover;
    height: 45px;
    padding: 1px;
    margin: 1px;
}

.border {
    border-width: 1.5px;
    border-style: solid;
    border-color: transparent;
}

.border:hover {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.nav-add {
    height: 50px;
    width: 215px;
    padding: 1px;
    margin: 1px;
    align-items: center;
    padding-left: 10px;
}
.deliver {
    color: #CCCCCC;
    font-size: 0.9rem;
    margin: 2px;
    margin-left: 24px;
}
.place {
    color: white;
    font-size: 1.2rem;
}
.add-icon {
    display: flex;
}

.nav-search {
    height: 50px;
    width: 350px;
    background-color: black;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.search:hover {
    border-width: 2px;
    border-radius: 5px;
    border-color: #F08804 ;
}

#option {
    background-color: gray;
    height: 35px;
    width: 60px;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    text-align: center;
    font-size: 17px;
}
.search {
    height: 32px;
    width: 250px;
    color: gray;
    font-size: 17px;
}
.search-icon {
    height: 35px;
    width: 35px;
    background-color: #F08804;
    color: black;
    font-size: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.country {
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 15px;
}
#language {
    background-color: black;
    color: white;
    font-size: 15px;
}

.sign_in {
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-left: 10px;
}
.line1 {
    font-size: 13px;
    margin-top: 10px;
} 
.line2 {
    font-size: 15px;
    font-weight: bolder;
}

.r_and_t {
    height: 50px;
    width: 90px;
    padding-left: 10px;
}
.return {
    font-size: 13px;
    margin-top: 10px;
}
.orders {
    font-size: 15px;
    font-weight: bold;
}

.cart {
    height: 50px;
    width: 80px;
    font-size: 26px;
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}


#panel {
    height: 50px;
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
}

.all{
    height: 45px;
    width: 59px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 11px;
}
.menu_icon {
    font-size: 23px;
}
.all {
    font-size: 15px;
    font-weight: bold;
}

.list {
    display: inline-flex;
    width: 900px;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bold;
}
.item1 {
    height: 45px;
    width: 80px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item2 {
    height: 45px;
    width: 50px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item3 {
    height: 45px;
    width: 90px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item4 {
    height: 45px;
    width: 105px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item5 {
    height: 45px;
    width: 70px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item6 {
    height: 45px;
    width: 90px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item7 {
    height: 45px;
    width: 150px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.item8 {
    height: 45px;
    width: 160px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.offer {
    height: 45px;
    width: 400px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    background-image: url(banner.jpg);
    background-size: cover;
}

.main1 {
    height: 300px;
    background-image: url(main_image1.jpg);
    background-size: cover;
}

.box1 {

}